.container {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;

  .loadMorePostsButton {
    width: var(--content-proportion);

    button {
      border: none;
      background: none;
      color: var(--light-purple);

      font-size: 1.125rem;
      font-weight: 600;
      line-height: 2.5rem;
    }
  }
}

.post {
  cursor: pointer;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  width: var(--content-proportion);

  .title {
    font-weight: 700;
    font-size: 1.75rem;
    line-height: 2rem;
  }

  .subtitle {
    font-weight: 400;
    font-size: 1.125rem;
    line-height: 2.5rem;
    color: var(--soft-white);
  }

  .footer {
    display: flex;
    align-items: flex-start;

    margin-top: 1rem;
    font-size: 0.875rem;
    color: var(--soft-gray);

    >div {
      display: flex;
      align-items: center;
    }

    div>span {
      margin-left: 0.5rem;
    }

    &>div {
      margin-right: 1.5rem;
    }
  }

  &>div {
    margin-bottom: 3rem;
  }

  &:hover {

    .title,
    .subtitle {
      text-decoration: underline 1px;
    }
  }
}